<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-hide="Ver">
      <div>
        <button><img src="img/guitarra.png"></button>

        <button><img src="img/acordeon.png"></button>
      </div>
      <div>
        <button><img src="img/violin.png"></button>

        <button><img src="img/triangulo.png"></button>
      </div>
      <div>
        <button><img src="img/saxofon.png"></button>

        <button><img src="img/trompeta.png"></button>
      </div>

  </div>
  </ion-content>
</ion-view>
